<ion-header>
  <ion-navbar>
    <ion-title>
      List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
   <ion-fab top right edge>
      <button ion-fab mini (click)="setUnits()"><ion-icon name="locate" ></ion-icon></button>
    </ion-fab>
  <div *ngIf="locations && !hideList">
 

    <div padding>
      <ion-segment [(ngModel)]="SortingRated">
        <ion-segment-button value="true" (click)="orderRated()">
          Highest Rated
        </ion-segment-button>
        <ion-segment-button value="false" (click)="orderDistance()">
          Closest
        </ion-segment-button>
      </ion-segment>
    </div>

    <ion-list>
      <ion-item *ngFor="let item of locations">
        <ion-icon name="star" *ngIf="item.rating.replace(',','.')==5" item-start></ion-icon>
        <ion-icon name="star-half" *ngIf="item.rating.replace(',','.') <5 && item.rating.replace(',','.') > 2" item-start></ion-icon>
        <ion-icon name="star-outline" *ngIf="item.rating.replace(',','.')<=2" item-start></ion-icon>
        <h2>{{item.name}}</h2>
        <h3>{{item.rating}}</h3>
        <p *ngIf="distanceType == 0">{{item.KilometersAway}} Killometers away</p>
        <p *ngIf="distanceType == 1">{{item.MilesAway}} Miles away</p>
        <p *ngIf="distanceType == 2">{{item.MetersAway}} Meters away</p>
      </ion-item>
    </ion-list>


  </div>
</ion-content>